<div class="bg-black h-9">
    <div class="text-center text-white">FREE STANDARD SHIPPING WITH ADICLUB
        <i class="pi pi-chevron-down"></i>
    </div>
</div>
<div class="flex justify-end">
    <div class="flex space-x-4" style="margin-left: 5rem;">
        <div>help</div>
        <div>orders and returns</div>
        <div>join adiClub</div>
    </div>
</div>
<div class="flex justify-between items-center gap-0">
    <!-- Contenedor para el menú -->
    <button (click)="navigateToProduct()">
    <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" width="200" height="200" viewBox="0 0 200 200">
        <path d="M 150.07 131.439 L 131.925 100 L 122.206 105.606 L 137.112 131.439 L 150.07 131.439 Z M 132.781 131.439 L 120.797 110.692 L 111.078 116.298 L 119.823 131.439 L 132.781 131.439 Z M 109.718 121.401 L 115.509 131.439 L 102.551 131.439 L 100 127.007 L 109.718 121.401 Z" fill="black"></path>
    </svg>
</button>
    
    <div class="card flex items-center justify-center w-full">
        <p-menubar [model]="items"></p-menubar>
    </div>
    <!-- Contenedor para los iconos y el campo de búsqueda -->
    <div class="card flex items-center justify-end mr-10">
        <div class="relative flex items-center">
            <input type="text" placeholder="Search" class="outline-none border border-gray-300 rounded-lg py-1 px-2 text-white bg-transparent">
            <i class="pi pi-search absolute right-2 top-2 text-gray-400"></i>
        </div>
        <!-- Iconos adicionales -->
        <i class="pi pi-user mx-2 pi-lg"></i>
        <i class="pi pi-heart mx-2 pi-lg"></i>
        <i class="pi pi-shopping-bag mx-2 pi-lg"></i>
        <!-- Input de búsqueda y icono -->
    </div>
</div>
